{% extends "base_main.html" %}

{% block main %}
<h3>Google/Facebook Connect</h3>

<div>
<p>Facebook status : {{ is_facebook  }} <a href='{% url "socialauth_begin" "facebook" %}'>Connect to Facebook</a></p>
<p>Google   status : {{ is_google  }} <a href='{% url "socialauth_begin" "google-oauth2" %}'>Connect to Google</a></p>
</div>
{% endblock %}