{% extends 'base_main.html' %}
{% load thumbnail %}
{% block main %}
<div class="container">
  <h3 class="pull-left"> Campaign {{ object.name }}</h3>
  <div class="btn-group pull-right" style="margin:10px 0">
    <a class="btn btn-info" href="{% url 'campaign.update' object.id %}">Update Campaign</a>
    <a class="btn btn-info" href="{% url 'campaign.delete' object.id %}">Delete Campaign</a>
    <a class="btn btn-info" href="{% url 'ads.create_campaign' object.id %}">Create ads</a>
  </div>
</div>
<div class="clearfix"><div>
<table class="table">
  <tr>
    <td>Name</td>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <td>Created</td>
    <td>{{ object.created_ts }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{ object.get_status_display }}</td>
  </tr>
  <tr>
    <td>Daily Budget</td>
    <td>{{ object.daily_budget }}</td>
  </tr>
  <tr>
    <td>Lifetime budget</td>
    <td>{{ object.lifetime_budget }}</td>
  </tr>
  <tr>
    <td>Start</td>
    <td>{{ object.start_ts }}</td>
  </tr>
  <tr>
    <td>End</td>
    <td>{{ object.end_ts }}</td>
  </tr>
</table>

<h2>Ads</h2>
{% if object.ads_set.all %}

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for ads in object.ads_set.all %}
  <tr>
    <td>{{ ads.title }}</td>
    <td>{{ ads.body }}</td>
    {% thumbnail ads.image "50x50" as im %}
    <td><img src="{{ im.url }}"/></td>
    {% endthumbnail %}
    <td><a href="{% url 'ads.update' ads.id %}" class="btn">Update</a>&nbsp;<a href="{% url 'ads.delete' ads.id %}" class="btn">Delete</a></td>
  </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %}
{% endblock %}