{% extends "base_main.html" %}

{% block main %}
<h3>Campaign List</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
    <tr>
      <td><a href='{% url "campaign.detail" object.id %}'>{{ object.name }}&nbsp;</a>
      <td>{{ object.created_ts }}
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <ul class="step-links">
        {% if objects.has_previous %}
            <li><a href="?page={{ objects.previous_page_number }}">previous</a></li>
        {% endif %}

        <li><span class="current">
            Page {{ objects.number|default:'1' }} of {{ objects.paginator.num_pages|default:'1' }}.
        </span></li>

        {% if objects.has_next %}
            <li><a href="?page={{ objects.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}