{% extends 'base_main.html' %}

{% block main %}
<div class="container">
   <h3 class="pull-left"> Campaign Form</h3>
</div>
<div class="clearfix"></div>
<form class="form-horizontal" enctype="multipart/form-data" method="POST" action=".">
  {% include 'form_snippets.html' %}
<div class="control-group">
  <label class="control-label">&nbsp;</label>
  <div class="controls">
    <button type="submit"  class="btn btn-primary" />{{ btn_title|default:'Add' }}</button>
  </div>
</div>
{% endblock %}