{% extends 'base_main.html' %}

{% block main %}
Are you sure want to delete?
<form method="POST" action="{% url 'ads.delete' object.id %}">
<p>{% csrf_token %}<button type='submit' class="btn">Yes</button></p>
</form>
<p class="btn"><a href="{% url 'campaign.detail' object.id %}">No</a></p>
{% endblock %}