<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="{{ STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen"/>
     <title>{% block title %}Adsme Campaign application{% endblock %}</title>
     <style>
       html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

     </style>
    {% block style %}{% endblock %}      
    
    </head>

    <body>
      <div id="wrap">
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	    <a class="brand" href="{% url 'home' %}">AdsMe Project</a>
	    <div class="nav-collapse collapse">
	      <ul class="nav">
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaigns <b class="caret"></b></a>
		 <ul class="dropdown-menu">
		   <li class="navbar-text"><a href="{% url 'campaign.create' %}">Add Campaigns</a></li>
		   {%comment%}<li class="navbar-text"><a href="#3">Search Campaigns</a></li>{%endcomment%}
		 </ul>
		</li>
	      </ul>
	      <ul class="nav">
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ads <b class="caret"></b></a>
		 <ul class="dropdown-menu">
		   <li class="navbar-text"><a href="{% url 'ads.create' %}">Add Ads</a></li>
		 </ul>
		</li>
	      </ul>
	      <ul class="nav pull-right">
		<li><a href='{% url "account.connect" %}'>Connect Settings</a></li>
		<li><a href='{% url "logout" %}'>Logout</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</div>
	<div class="Ka eb g-w" style="opacity: 1;background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.2),transparent);-webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%);height: 8px;width: 100%;"></div>
	</div>

	<div class="container" style="padding-top:50px">
	  {% block main %}
	  {% endblock %}
	  <div id="push"></div>
	</div> <!-- /container -->
      </div>
      <div id="footer">
	<div class="container">
	  <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
	</div>
      </div>

    <script src="{{ STATIC_URL}}js/jquery-1.7.js"></script>
    <script src="{{ STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
    </body>
</html>