<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Adsme Campaign Applications{% endblock %}</title>
    
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    {% block style %}{% endblock %}      
      
    </head>

    <body>
      
      <div class="container">
	{% block main %}{% endblock %}
      </div>
      <script src="{{ STATIC_URL}}js/jquery-1.7.1.min.js" defer></script>
      <script src="{{ STATIC_URL}}bootstrap/js/bootstrap.min.js" defer></script>
      {% block js %}{% endblock %}
    </body>
</html>