 {% for hidden in form.hidden_fields %}
 {{ hidden }}
 {% endfor %}
 {# Include the visible fields #}
{% csrf_token %}
 {{ form.non_field_errors }}
 {% for field in form.visible_fields %}
   <div class="control-group {% if field.errors %}error{% endif %}">
     <label class="control-label">{{ field.label_tag }}</label>
     <div class="controls">
       {{ field }}
       {% if field.errors %}
       {% for error in field.errors %}
       <span class="help-inline">{{ error }}</span>
       {% endfor %}
       {% endif %}
     </div>
   </div>
  {% endfor %}