{% extends "base.html" %}
{% block style %}
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
</style>
{% endblock %}
{% block main %}
<form class="form-signin" method="post">
  <h2 class="form-signin-heading">
    <div style="width: 100%; text-align: center">
      </div>
      Sign-in
    </h2>
    {% if form.errors %}
    <div class="alert alert-eror">
      <span>Invalid Credentials</span>
    </div>
    {% endif %}
    <input id="username" name="username" type="text" class="input-block-level" placeholder="Username"/>
    <input id="password" name="password" type="password" class="input-block-level" placeholder="Password"/>
    {% csrf_token %}
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url "home"  %}{% endif %}"/>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
{% endblock %}